
body{
    background-image: url(./images/setc\ bus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card-head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}